{% extends 'base.html' %}
{% block title %}{% if quote %}Edit{% else %}Add{% endif %}{% endblock %}
{% block content %}
  <h1>{% if quote %}Zedituj to, bráško{% else %}Val to sem, ty magore{% endif %}</h1>

  <form method="post" enctype="multipart/form-data">
    <p>
      <label>
        Kdy to ten idiot řekl
        <input type="date" name="quote_date" value="{{ quote['quote_date'] if quote else '' }}" required>
      </label>
    </p>
    <p>
      <label>
        Co přesně zvracel
        <textarea name="text" required>{{ quote['text'] if quote else '' }}</textarea>
      </label>
    </p>
    <p>
      <label>
        Podprůměrná fotka (volitelně)
        <input type="file" name="image" accept="image/png,image/jpeg,image/gif,image/webp">
      </label>
      {% if quote and quote['image_path'] %}
        <div style="margin-top: 10px;">
          <p>Současná fotka:</p>
          <img src="{{ url_for('static', filename='uploads/' + quote['image_path']) }}" style="max-width: 200px; max-height: 200px;">
        </div>
      {% endif %}
    </p>
    <button type="submit">Nahned to ulož, ty káre</button>
  </form>
  {% if quote %}
  <form method="get" action="{{ url_for('auth.admin_delete_quote', quote_id=quote['id']) }}" onsubmit="return confirm('Fakt to chceš smazat, ty hovado?');">
    <button type="submit">Odpal to pryč</button>
  </form>
  {% endif %}
{% endblock %}
