{% extends 'base.html' %}
{% block title %}Admin{% endblock %}
{% block content %}
    <h1>Koriguj ty zvratky</h1>
    <p><a href="{{ url_for('auth.admin_new_quote') }}">Přidej novej blábol</a></p>

    {% if quotes %}
        <ul class="quotes">
            {% for quote in quotes %}
                <li>
                    {% if quote['image_path'] %}
                        <div class="quote-image">
                            <img src="{{ url_for('static', filename='uploads/' + quote['image_path']) }}" alt="Snímek, močále" style="max-width: 300px; max-height: 300px;">
                        </div>
                    {% endif %}
                    <div>{{ quote['text'] }}</div>
                    <div class="meta">
                        Date: {{ quote['quote_date'] }} |
                        <a href="{{ url_for('auth.admin_edit_quote', quote_id=quote['id']) }}">[Uprav mi ho, pičo]</a>
                        <a href="{{ url_for('auth.admin_delete_quote', quote_id=quote['id']) }}"
                           onclick="return confirm('Seš si jistej, že to chceš poslat do pekel?');">[Zahoď tu kurvu]</a>
                    </div>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Prázdno jak v tvojí peněžence, debile.</p>
    {% endif %}
{% endblock %}
